<!DOCTYPE HTML>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/_layout/main_layout}">
    
    <div layout:fragment="content">
    
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                
                    <h4 class="page-title float-left" th:text="#{change.locks.version}" ></h4>

                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a th:href="@{#}" th:text="#{home}"></a></li>
                        <li class="breadcrumb-item"><a th:href="@{/admin/version/list}" th:text="#{menu.version.list}"></a></li>
                        <li class="breadcrumb-item active" th:text="#{change.locks.version}"></li>
                    </ol>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        
        <div class="row" id="form-edit-special-pin">
            <div class="col-12">
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="m-t-0 header-title mb-4" th:text="#{change.locks.version.desc(${object.version.name})}"></h4> 
                        
                        <form id="editForm" 
                            th:action="@{/admin/version/locks}" 
                            th:object="${object}" 
                            method="post" 
                            data-parsley-validate
                            data-parsley-trigger="focusout"> 
                            
                            <input type="hidden" th:field="*{version}"/>

                            <div class="form-group">
                                <div class="mb-2 d-flex justify-content-between">
                                    <div class="d-flex custom-multi-select-button-div">
                                        <a href='#' id='select-all' class="badge badge-secondary custom-multi-select-button">[[#{select.all}]]</a>
                                    </div>
                                    <a href='#' id='deselect-all' class="badge badge-secondary custom-multi-select-button">[[#{deselect.all}]]</a>
                                </div>
                                <select id="selectedLocksIdArray"
                                    name="selectedLocksIdArray"
                                    multiple="multiple"
                                    th:field="*{lstLock}">
                                    <option th:each="lock : ${lstLock}"
                                        th:value="${lock.id}"
                                        th:text="#{lock.title(${lock.serialNumber})}"></option>
                                </select>
                            </div>
                            <div class="form-group mb-1 mt-4 text-right">
                                <div>
                                    <button type="submit"
                                        class="btn btn-primary waves-effect waves-light"
                                        th:text="#{save}"></button>
                                    <a class="btn btn-secondary waves-effect ml-1"
                                        th:href="@{/admin/version/list}" th:text="#{cancel}"></a>
                                </div>
                            </div>                            
                        </form>
                    </div> 
                </div><!-- end card -->
            </div><!-- end col -->
        </div>

        <script th:inline="javascript">
        $(function() {
            bindMultiSelect('selectedLocksIdArray', [[#{locks.available}]], [[#{locks.picked}]]);
            $('#select-all').click(function(){
                $('#selectedLocksIdArray').multiSelect('select_all');
                return false;
            });
            $('#deselect-all').click(function(){
                $('#selectedLocksIdArray').multiSelect('deselect_all');
                return false;
            });
        });
    	</script>
        
    </div>
        
</html>
