
<footer 
    xmlns:th="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org"
    th:fragment="footer(style, fromGuest)" 
    class="footer footer-guest"
    th:style="${style}">
    
    <div>
        <span th:text="${@environment.getProperty('system.owner')}"></span> 
        <span th:utext="#{all.rights.reserved}"></span>

        <span class="system-version" th:text="${@environment.getProperty('system.version')}"
            th:if="${fromGuest}">
        </span>
    </div>
    
</footer>
