
<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="modalAddItem">

    <div id="modalAddItem" class="modal fade" tabindex="-1"
        role="dialog" aria-labelledby="mySmallModalLabel"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="mySmallModalLabel">
                        <i
                            class="mdi mdi-information-outline icon-warning"></i>
                        <span class="ml-2"
                            th:text="#{message.info.add.item}"></span>
                    </h4>
                    <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">×</button>
                </div>

                <div class="mx-1 row">
                    <div class="col-12">
                        <div class="mt-4">
                            <form id="addForm"
                                th:action="@{/admin/item/edit}"
                                method="post" data-parsley-validate
                                data-parsley-trigger="focusout">
                                
                                <input type="hidden" name="status" id="status" value="OFF"/>
                                <input type="hidden" name="lock.id" id="idLock" value=""/> 

                                <div class="row">

                                    <div class="form-group col-6">
                                        <label th:text="#{value}"></label>
                                        <div>
                                            <input type="text"
                                            name="price"
                                            id="price"
                                                class="form-control mask-money"/>
                                        </div>
                                    </div>

                                    <div class="form-group col-6">
                                        <label th:text="#{address}"></label>
                                        <input type="text"
                                            name="installationLocation"
                                            id="installationLocation"
                                            class="form-control"
                                            data-parsley-maxlength="255" />
                                    </div>
                                    
                                </div>
                                
                                <div
                                    class="checkbox checkbox-primary pb-1 checkbox-width ml-1 checkboxStyle">
                                    <input type="checkbox"
                                        class="form-control d-none"
                                        id="sensor" name="sensor"> <label
                                        for="sensor" th:text="#{sensor}"></label>
                                </div>
                                <div class="form-group mb-1 mt-4 text-right">
                                    <div>
                                        <button type="submit"
                                            class="btn btn-primary waves-effect waves-light"
                                            th:text="#{save}"></button>
                                        <a
                                            class="btn btn-secondary waves-effect ml-1"
                                            data-dismiss="modal"
                                            th:text="#{cancel}"></a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    
</div>

<style>
.checkboxStyle {
    padding-left: 14px;
}
</style>