
<div 
    xmlns:th="http://www.w3.org/1999/xhtml" 
    th:fragment="modalDeactivateUserWarning">

    <div id="modalDeactivateUserWarning" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
                <div class="modal-header">
                    <h4 class="modal-title" id="mySmallModalLabel">
                        <i class="fas fa-exclamation-triangle icon-warning"></i>
                        <span class="ml-2" th:text="#{message.warning.deactivate}"></span>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                
                <form action="#" id="desactiveForm" method="GET">
                    
                    <input type="hidden" name="id" id="desactiveId" value=""/>
                    
                    <div class="modal-body">
                        <p th:text="#{message.warning.deactivate.desc}"></p>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal" th:text="#{no}"></button>
                        <button type="submit" class="btn btn-danger waves-effect waves-light" th:text="#{yes}"></button>
                    </div>
                </form>   
                 
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>