<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/_layout/main_layout}">

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">

                <h4 class="page-title float-left"
                    th:if="${object.id == null}"
                    th:text="#{purchase.add}"></h4>
                <h4 class="page-title float-left"
                    th:if="${object.id != null}"
                    th:text="#{purchase.edit}"></h4>

                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a th:href="@{#}"
                        th:text="#{home}"></a></li>
                    <li class="breadcrumb-item"><a
                        th:href="@{/admin/purchase/list}"
                        th:text="#{menu.purchase.list}"></a></li>
                    <li class="breadcrumb-item active"
                        th:if="${object.id == null}"
                        th:text="#{purchase.add}"></li>
                    <li class="breadcrumb-item active"
                        th:if="${object.id != null}"
                        th:text="#{purchase.edit}"></li>
                </ol>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row" id="form-edit-special-pin">
        <div class="col-12">
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="m-t-0 header-title mb-4"
                        th:text="#{fill.form.desc}"></h4>

                    <form id="editForm"
                        th:action="@{/admin/purchase/edit}"
                        th:object="${object}" method="post"
                        data-parsley-validate
                        data-parsley-trigger="focusout">

                        <input type="hidden" name="id"
                            th:value="${object.id}" />

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label th:text="#{client}"></label>
                                <div>
                                    <select class="form-control select2"
                                        th:field="*{client}"
                                        data-parsley-errors-container="#select2-error-2">
                                        <option value=""
                                            th:text="#{select}"></option>
                                        <option
                                            th:each="item : ${lstClient}"
                                            th:value="${item.id}"
                                            th:text="${item.name}"></option>
                                    </select> <span id="select2-error-2"></span>
                                    <ul
                                        class="parsley-errors-list filled">
                                        <li class="parsley-required"
                                            th:errors="*{client}"></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label th:text="#{purchase.date}"></label>
                                <div>
                                    <div class="input-group">
                                        <input type="text"
                                            class="form-control datepicker mask-date"
                                            id="purchaseDate"
                                            th:value="${object.purchaseDate}"
                                            th:field="*{purchaseDate}"
                                            autocomplete="off" required
                                            data-parsley-trigger="change"
                                            data-parsley-trigger-after-failure="change">
                                        <div class="input-group-append">
                                            <span
                                                class="input-group-text"><i
                                                class="mdi mdi-calendar"></i></span>
                                        </div>
                                    </div>
                                    <ul
                                        class="parsley-errors-list filled">
                                        <li class="parsley-required "
                                            th:errors="*{purchaseDate}"></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label th:text="#{due.date}"></label>
                                <div>
                                    <div class="input-group">
                                        <input type="text"
                                            class="form-control datepicker mask-date"
                                            id="dueDate"
                                            th:value="${object.dueDate}"
                                            th:field="*{dueDate}"
                                            autocomplete="off" required
                                            data-parsley-trigger="change"
                                            data-parsley-trigger-after-failure="change">
                                        <div class="input-group-append">
                                            <span
                                                class="input-group-text"><i
                                                class="mdi mdi-calendar"></i></span>
                                        </div>
                                    </div>
                                    <ul
                                        class="parsley-errors-list filled">
                                        <li class="parsley-required "
                                            th:errors="*{dueDate}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label th:text="#{purchase.items}"></label>
                            <div
                                class="mb-2 d-flex justify-content-between">
                                <div
                                    class="d-flex custom-multi-select-button-div">
                                    <a href='#' id='select-all'
                                        class="badge badge-secondary custom-multi-select-button">[[#{select.all}]]</a>
                                </div>
                                <a href='#' id='deselect-all'
                                    class="badge badge-secondary custom-multi-select-button">[[#{deselect.all}]]</a>
                            </div>
                            <select id="selectedPurchaseItemsIdArray"
                                name="selectedPurchaseItemsIdArray"
                                multiple="multiple"
                                th:field="*{lstPurchaseItem}">
                                <option th:each="item : ${lstItem}"
                                    th:value="${item.id}"
                                    th:text="#{purchase.item.title(${item.lock.serialNumber})}"
                                    th:if="${object.id == null}"></option>
                                <option th:each="item : ${lstItem}"
                                    th:value="${item.id}"
                                    th:text="#{purchase.item.title(${item.lock.serialNumber})}"
                                    th:if="${object.id != null}"
                                    th:selected="${#lists.contains(object.lstPurchaseItem, item)}"></option>
                            </select>
                        </div>
                        <div class="form-group mb-1 mt-4 text-right">
                            <div>
                                <button type="submit"
                                    class="btn btn-primary waves-effect waves-light"
                                    th:text="#{save}"></button>
                                <a
                                    class="btn btn-secondary waves-effect ml-1"
                                    th:href="@{/admin/purchase/list}"
                                    th:text="#{cancel}"></a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>

    <script th:inline="javascript">
        $(function() {
            bindMultiSelect('selectedPurchaseItemsIdArray', [[#{purchase.items.available}]], [[#{purchase.items.picked}]]);
            $('#select-all').click(function(){
                $('#selectedPurchaseItemsIdArray').multiSelect('select_all');
                return false;
            });
            $('#deselect-all').click(function(){
                $('#selectedPurchaseItemsIdArray').multiSelect('deselect_all');
                return false;
            });
            
            var purchaseDateFormatted = moment($('#purchaseDate').val());
            var dueDateFormatted = moment($('#dueDate').val());
            
            $('#purchaseDate').val(purchaseDateFormatted.format('DD/MM/YYYY'))
            $('#dueDate').val(dueDateFormatted.format('DD/MM/YYYY'))
            
            $('#editForm').submit(function(event) {
                if($('#purchaseDate')) {
                    $('#purchaseDate').val(moment($('#purchaseDate').val().format('YYYY/MM/DD')));
                } 
                if($('#dueDate')) {
                    $('#dueDate').val(moment($('#dueDate').val().format('YYYY/MM/DD')));
                }
            });
        });
        </script>

</div>

</html>
