<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/_layout/main_layout}">

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title float-left"
                    th:text="#{menu.purchase.list}"></h4>

                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a th:href="@{#}"
                        th:text="#{home}"></a></li>
                    <li class="breadcrumb-item active"
                        th:text="#{menu.purchase.list}"></li>
                </ol>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mt-4">
                <div class="card-body table-responsive">

                    <div class="row">
                        <div class="col-sm-12 col-md-11">
                            <h4 class="m-t-0 header-title mb-5"
                                th:text="#{menu.purchase.list.desc}"></h4>
                        </div>
                        <div
                            class="col-sm-12 col-md-1 text-right pr-4 btn-add">
                            <a th:href="@{/admin/purchase/edit}"
                                class="tooltip-left"
                                th:title="#{purchase.add}"> <i
                                class="ion ion-ios-add-circle"></i>
                            </a>
                        </div>

                        <!--  <form
                                 id="editForm"
                                 th:action="@{/admin/purchase/list}"
                                 method="get"
                                 data-parsley-validate
                                 data-parsley-trigger="focusout"
                            >
                                <div class="d-flex align-items-center active-filter target">
                                    <div class="checkbox checkbox-primary activeCheckBox mt-2 mr-3 ml-1">
                                        <input type="checkbox" id="commIssue" name="commIssue" th:checked="*{commIssue}">
                                        <label class="clickable" for="commIssue" th:text="#{filter.comm.issue}">
                                        </label>
                                    </div>
                                </div>
                            </form> -->

                    </div>

                    <table id="datatable"
                        class="table table-hover table-bordered">

                        <thead class="thead-light ">
                            <tr
                                th:if="${objects == null || objects?.isEmpty()}">
                                <th th:text="#{no.records.found}"></th>
                            </tr>
                            <tr th:if="${!objects?.isEmpty()}">
                                <th data-priority="1"
                                    th:text="#{purchase.date}"></th>
                                <th th:text="#{client}"></th>
                                <th th:text="#{due.date}"></th>
                                <th th:text="#{menu}" data-priority="2"
                                    class="actions">&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="object : ${objects}">
                                <td
                                    th:text="${#temporals.format(object.purchaseDate, 'dd/MM/yyyy')}"></td>
                                <td
                                    th:text="${object.client} ? ${object.client.name} : ''"
                                    data-placement="auto"
                                    data-trigger="hover"
                                    th:data-toggle="${object.client} ? 'popover' : ''"
                                    data-html="true"
                                    th:data-content="${object.client} ? |
                                    <b>#{email}</b>: ${object.client.email} <br> 
                                    <b>#{cellphone}</b>: ${object.client.cellphone} <br> 
                                    <b>#{identifier}</b>: ${object.client.identifier}| : ''"
                                    th:title="${object.client} ? ${object.client.name} : ''"></td>
                                <td
                                    th:text="${#temporals.format(object.dueDate, 'dd/MM/yyyy')}"></td>
                                <td
                                    class="actions lock-actions pb-0 pt-10">
                                    <span data-toggle="modal"
                                    data-target="#modalListItens">
                                        <a
                                        class="action-icon edit tooltip-top"
                                        href="#" role="button"
                                        id="showItems"
                                        th:data-purchase-id="${object.id}"
                                        th:title="#{purchase.items}">
                                            <i
                                            class="mdi mdi-cart icon-resize"></i>
                                    </a>
                                </span> <a class="action-icon edit"
                                    data-toggle="dropdown" href="#"
                                    role="button"> <i
                                        class="mdi mdi-menu icon-resize"></i>
                                </a>
                                    <div
                                        class="dropdown-menu dropdown-menu-left profile-dropdown">
                                        <ul class="list-inline mb-0">
                                            <li
                                                class="dropdown notification-list"><a
                                                th:href="|@{/admin/purchase/edit}/${object.id}|"
                                                class="dropdown-item notify-item pt-1 pb-1 action-icon edit">
                                                    <i
                                                    class="fas fa-edit font-size-16 tab-width"></i>
                                                    <span
                                                    th:text="#{edit}"></span>
                                            </a> <span data-toggle="modal"
                                                data-target="#modalDeleteWarning">
                                                    <a
                                                    class="delete dropdown-item notify-item pt-1 pb-1 action-icon edit"
                                                    href="#"
                                                    th:data-url="@{/admin/purchase/delete}"
                                                    th:data-id="${object.id}">
                                                        <i
                                                        class="far fa-trash-alt font-size-16 tab-width"></i><span
                                                        th:text="#{delete}"></span>
                                                </a>
                                            </span></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    <script th:inline="javascript">
        $(function() {

            var columnsDefinitions = [ 
                { targets : [ 3 ], orderable : false } 
            ];
            
            if ([[${!objects?.isEmpty()}]]) {
                $('#datatable').DataTable(
                    buildDataTable(columnsDefinitions)
                );
            }
            
            $('#modalDeleteWarning').on('hidden.bs.modal', function () {
                $('#modalDeleteDesc').html([[#{message.warning.delete.desc}]]);
            });
            
            /* $('#datatableListItems').on('hidden.bs.modal', function () {
            	$("#datatableListItems").dataTable().fnDestroy();
            }); */
            
            $('#modalListItens').on('show.bs.modal', function () {
                var id = $('#showItems').data('purchase-id')
                var columns = [
       	            { title: [[#{serial.number}]], data: 'serialNumber'},
       	            { title: [[#{lock.model}]], data: 'lockModel'},
       	            { 
       	                title: [[#{sensor}]],
       	                data: 'sensor',
       	                className: 'd-flex justify-content-center',
       	                render : function(data, type, row) {
       	                    return data ? '<i class="mdi mdi-check-box-outline fa-lg"></i>' : '<i class="mdi mdi-close-box-outline fa-lg"></i>'
           	            }
   	                },
       	            { title: [[#{installation.location}]], data: 'installationLocation'},
       	        ];
                $.ajax({
                    url: [[@{${T(brisa.lockmanager.Routes).ADMIN_PURCHASE_ITEMS}}]] + "/" + id,
                    success: function(response) {
                   		var purchaseItems = response.map(x => { 
                   		    return {
                       		        serialNumber: x.lockSerialNumber,
                       		        lockModel: x.lockModelName ? x.lockModelName : '',
                   		            sensor: x.sensor,
               		                installationLocation: x.installationLocation,
               		            }
           		            })
                    	$('#datatableListItems').DataTable(
                    			buildListItemsDataTable(purchaseItems, columns)
                    	);
                    }
                });
            });
            
        });
    </script>
</div>

</html>
<!-- end fragment -->